@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Nunito", sans-serif;
	background: #f0f0f0;
	color: #1a004e;
}

.wrapper {
	padding: 0.5em;
}

h1 {
	text-align: center;
}

.progress {
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: space-around;
	max-width: 400px;
	margin: 0 auto;
}

.progress li {
	flex: 1;
}

.progress a {
	display: flex;
	flex-flow: column;
	align-items: center;
	text-decoration: none;
	text-align: center;
	gap: 0.5em;
}

.progress .circle {
	background: white;
	color: #797979;
	font-size: 1.5rem;
	font-weight: 800;
	width: 3rem;
	height: 3rem;
	display: grid;
	place-content: center;
	border-radius: 50%;
}

.progress span {
	color: #797979;
	font-weight: 600;
}

.progress .current .circle {
	background: #1a004e;
	color: white;
}

.progress .current span {
	color: #1a004e;
	font-weight: 600;
}

main {
	background: white;
	padding: 1em;
	text-align: left;
	margin: 2em 0;
}

h2 {
	font-size: 1.3rem;
	position: relative;
}

h2::before {
	content: "";
	position: absolute;
	left: 0;
	top: -7px;
	border-radius: 1em;
	height: 5px;
	width: 30px;
	background: #8040ff;
}

.left-col {
}

.input-group {
	display: flex;
	flex-flow: column;
	gap: 0.2em;
	margin-bottom: 1em;
}

label {
	font-weight: 600;
}

input,
select,
option,
textarea {
	padding: 0.25em 0.5em;
	font-family: "Nunito", sans-serif;
	border-radius: 0.2em;
	border: 1px solid #797979;
	resize: none;
}

textarea {
	height: 6em;
}
input:focus,
textarea:focus {
	outline: 3px solid #d3d3d3;
}

.input-group-radio {
	display: flex;
	flex-flow: column;
}

.input-group-radio p {
	font-weight: 600;
	margin: 0;
	padding: 0;
}

.options label {
	font-weight: unset;
}

.error-field {
	border: 3px solid #ffb3b3;
}

.error {
	align-self: flex-start;
	display: inline-block;
	margin: 0;
	margin-top: -0.3em;
	padding: 0.25em 0.5em;
	background: #ffb3b3;
	font-size: 0.85em;
	font-weight: 600;
}

.cta {
	display: block;
	width: 100%;
	margin-top: 1em;
	padding: 0.75em;
	text-align: center;
	border-radius: 0.5em;
	text-decoration: none;
	background: #8040ff;
	font-size: 1.2em;
	font-weight: 600;
	color: white;
}

.right-col {
	margin-top: 2em;
	line-height: 1.5em;
	color: #1b1820;
}

@media (min-width: 768px) {
	main {
		display: flex;
		align-items: baseline;
		padding: 1em 2em 4em;
		gap: 2em;
	}

	.left-col {
		flex: 0 0 65%;
		margin: 0;
	}

	.right-col {
		margin: 0;
	}

	input,
	select,
	textarea {
		padding: 1em;
	}
	.cta {
		width: unset;
		min-width: 150px;
		padding: 0.5em 1.5em;
		float: right;
	}
}

@media (min-width: 1000px) {
	main {
		max-width: 1000px;
		margin-left: auto;
		margin-right: auto;
		padding: 2em 4em 4em;
	}
}
